html, body {height: 100%;}
#a {
  height: 65%;
  background-color: #054950;
  padding-top: 8rem;
  align-items: center;
}
#x {
  height: 35%;
  min-height: 200px;
}
#z {
  background-color: #D5F1F5;
  width: 100%;
}
label {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}
label {
  width: fit-content;
  margin: 0 auto;
}
#y {
  background-color:#789A9F;
  width: 40%;
  background-image: url(logo5.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 40%;
}
label {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}
#button {
  background-color: #C492B1;
  width: 60%;
  height: 100px;
  margin-left: 20%;
  margin-top: 15%;
}
.cityHeader {
  text-align: center;
  color: pink;
  margin: 0 auto;
  margin-top: 0;
  height: 10%;
}
#ul{
  width: 100%;
  padding: 10%;
}
#list {
 float: right;
 /* background-color: red ; */
}


