html, body {height: 100%;}
#a {
  height: 65%;
  background-color: #054950;
  padding-top: 8rem;
  align-items: center;
}
#x {
  height: 35%;
  min-height: 200px;
}
#z {
  background-color: #D5F1F5;
  width: 100%;
}
label {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}
label {
  width: fit-content;
  margin: 0 auto;
}
#y {
  background-color:#789A9F;
  width: 40%;
  background-image: url(logo5.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 40%;
}
label {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}
#button {
  background-color: #C492B1;
  width: 60%;
  height: 100px;
  margin-left: 20%;
  margin-top: 15%;
}
/* .cityHeadContainer {
  float: right;
}
.cityHeader {
  text-align: center;
  color: pink;
  margin: 0 auto;
  margin-top: 0;
  height: 10%;
} */
/* #ul{
  width: 10%;
  padding: 10%;
} */
#list {
 float: right;
 /* background-color: red ; */
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


